.hero__button {
  border-radius: 4px;
  justify-content: center;
  margin: auto;
  border-color: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
  
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--accent-color);
  cursor: pointer;
  }
.button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  }
.button__item{
  &:nth-child(-n + 3){
    margin-bottom: 15px;
  }
  &:not(:last-child) {
    margin-right: 8px;
    }
  }
  @media screen and (min-width: 768px){
    .button{
      justify-content: center;
    }
    .button__item{
      &:nth-child(-n + 3){
        margin-bottom: 0;
      }
    }
  }
.button__job {
  background: var(--background-button);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-button);
  color: var(--color-black);
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }
  .close-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
     fill: var(--accent-color);
    }
    } 
  .burger__menu{
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

  }
  @media screen and (min-width: 768px){
    .burger__menu{
        display: none;
    }
        }