.clients{
padding-top: 60px;
padding-bottom: 60px;
}
.clients__list{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: -30px;
margin-left: -30px;
}
.clients__item{
margin-top: 30px;
margin-left: 30px;
}
.clients__title{
margin-bottom: 30px;
font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
}

.clients__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}  
@media screen and (min-width: 1200px){
  .clients{
      padding-top: 92px;
      padding-bottom: 96px;
      }
  .clients__link{
        width: 170px;
      }
    .clients__list{
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      margin-left: 0;
      }
      .clients__title{
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
      }
      .clients__item{
        margin-top: 0;
        margin-left: 0;
      }
}
  