.current-studio {
  &::after {
    display: none;
  }
  position: relative;
}
.mobile-menu__nav-link-current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.current-portfolio {
  color: var(--accent-color);

  &::after {
    display: none;
  }
  position: relative;
}
@media screen and (min-width: 768px) {
  .current-studio {
    color: var(--accent-color);
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 48px;
      height: 4px;
      bottom: -1px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
  .current-portfolio {
    color: var(--accent-color);
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 78px;
      height: 4px;
      bottom: 0;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}
