.current-studio{
  &::after{
    display: none;
  } 
  position: relative;
}
.current-portfolio{
  &::after{
    display: none;
    
  }
  position: relative;
}
@media screen and (min-width: 768px){
  .current-studio {
    color: var(--accent-color);
    &::after{
      content: "";
      display: block;
      position: absolute;
      width: 48px;
      height: 4px;
      bottom: 0;
      background: var(--accent-color);
      border-radius: 2px;
      }
    }
  .current-portfolio {
    color: var(--accent-color);
    &::after{
      content: "";
      display: block;
      position: absolute;
      width: 78px;
      height: 4px;
      bottom: 0;
      background: var(--accent-color);
      border-radius: 2px;
      }
    }
}
