.modal-form{
  display: flex;
  flex-direction: column;
  }
.modal-form__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  }
.modal-form__input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
     outline: none;
    border-color: var(--accent-color);
    }
  }
 
.modal-form__label{
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  }
.modal-form__icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform:translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + &{
    fill: var(--accent-color);
    }
  }
.modal-form__wrapper{
  display: block;
  position: relative;
  margin-top: 4px;
  }
.modal-form__massage{
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
    outline: none;
    border-color: var(--accent-color);
    }
  &::placeholder{
    color: rgba(117, 117, 117, 0.5);
    }
  }
.modal-form__accept-policy{
  color: var(--accent-color);
  }
.modal-form__checkbox-label{
  display: flex;
  align-items: center;
  
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  margin-bottom: 30px;
   &::before{
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: 2px solid var(--primary-text-color);
    margin-right: 7px;
    
    }
  .modal-form__checkbox:checked + &::before{
    padding: 3px;
    background-image: url(../images/vector.svg);
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    background-origin: padding-box;
    border: none;
    background-position: center;
    }
  .modal-form__checkbox:focus + &::before{
    border-color: var(--accent-color);
    }
  }
  
.modal-form__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 15px 55px;
  cursor: pointer;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188CE8;
    }
  }
 