.nav__list{
  display: none;
}
.auth-nav{
  display: none;
}
@media screen and (min-width: 768px){
  .nav__list {
      display: flex;
      align-items: center;
      }
  .auth-nav{
    display: block;
  } 
  .nav__item{
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
    }
.nav {
  display: flex;
  align-items: center;
  }
// .nav__list {
//   display: flex;
//   align-items: center;
//   }
.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
  }

.nav__ikon{
  fill: currentColor;
  margin-right: 10px;
  }
// .auth-nav__item{
//   &:not(:last-child) {
//     margin-right: 50px;
//     }
// }
.auto-nav__link {
  
  color: var(--paragraph-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }
  @media screen and (min-width: 1200px){
    .auth-nav {
        display: flex;
        margin-left: auto;
        }
      .auto-nav__mail {
        margin-right: 30px;
        }
        .auto-nav__link{
           display: flex;
  align-items: center;
        }
  }