.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  }

.works__item:not(:last-child) {
 margin-bottom: 30px;
  }
.works__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  }
.works__description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--paragraph-text-color);
  }
.works__box {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
  color: var(--title-text-color);
  flex-grow: 1;
  }
.works__link{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    display: block;
    background: var(--primary-background-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  &:hover .overlay,
  &:focus .overlay{
     transform: translateY(0);
    }
  }
.works__img{
  position: relative;
  overflow: hidden;
  }
.works__img-display{
  display: block;
  max-width: 100%;
  height: auto;
  }
.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color-rgba);
  padding: 63px 24px;
  
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px){
.works__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
.works__item{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }
.works__item:not(:last-child) {
  margin-bottom: 0;
     }
  .works__box{
  flex-grow: 1;
  }
.works__link{
  display: flex;
  flex-direction: column;
}
  }